.form{

    background-color: black;
    
    color: #ffffff;
    box-sizing: border-box;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px;
  border: green;
  outline-color: green;
  height: 1117px;
width: 1728px;
left: 100px;
top: 1000px;
border-radius: 0px;

}
body hr{
  margin-right: 1000px;
}


.text{
    height: 33px;
    width: 81px;
    left: 266px;
    top: 820px;
    border-radius: nullpx;
    

}